DATABASE_URL=dummy
NEXTAUTH_URL=dummy
NEXTAUTH_SECRET=dummy
NEXT_PUBLIC_APP_URL=dummy
FACEBOOK_CLIENT_ID=dummy
FACEBOOK_CLIENT_SECRET=dummy
RAZORPAY_KEY_ID=dummy
RAZORPAY_KEY_SECRET=dummy
RAZORPAY_WEBHOOK_SECRET=dummy